<ion-view view-title="Button">
  <ion-content>
    <h1>Button</h1>
	
	<div class="padding"><button class="button button-light">button-light</button></div>
	<div class="padding"><button class="button button-stable">button-stable</button></div>
	<div class="padding"><button class="button button-positive">button-positive</button></div>
	<div class="padding"><button class="button button-calm">button-calm</button></div>
	<div class="padding"><button class="button button-balanced">button-balanced</button></div>
	<div class="padding"><button class="button button-energized">button-energized</button></div>
	<div class="padding"><button class="button button-assertive">button-assertive</button></div>
	<div class="padding"><button class="button button-royal">button-royal</button></div>
	<div class="padding"><button class="button button-dark">button-dark</button></div>
  </ion-content>
</ion-view>
