<ion-view view-title="Grid">
  <ion-content>
    <h1>Grid</h1>
	<div class="row">
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
	</div>
	<div class="row">
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
	</div>
	<div class="row">
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
		<div class="col col-demo">.col</div>
	</div>
	<div class="row">
		<div class="col col-demo">.col</div>
		<div class="col col-demo col-75">.col.col-75</div>
	</div>
  </ion-content>
</ion-view>
