<ion-view view-title="Radio">
  <ion-content>
    <h1>Radio</h1>
	<div class="card">
	<div class="item item-divider">Set ChoiceA</div>
	<div class="item item-text-wrap">
	<ion-list>
		<ion-radio ng-model="choiceA" ng-value="'A1'" name="choiceA">A1</ion-radio>
		<ion-radio ng-model="choiceA" ng-value="'A2" name="choiceA">A2</ion-radio>
		<ion-radio ng-model="choiceA" ng-value="'A3'" name="choiceA">A3</ion-radio>
	</ion-list>
	</div>
	</div>
	
	<div class="card">
	<div class="item item-divider">Set ChoiceB</div>
	<div class="item item-text-wrap">
	<ion-list>
		<ion-radio ng-model="choiceB" ng-value="'B1'" name="choiceB">B1</ion-radio>
		<ion-radio ng-model="choiceB" ng-value="'B2" name="choiceB">B2</ion-radio>
		<ion-radio ng-model="choiceB" ng-value="'B3'" name="choiceB">B3</ion-radio>
	</ion-list>
	</div>
	</div>
  </ion-content>
</ion-view>
