<ion-view view-title="Toggle">
  <ion-content>
    <h1>Toggle</h1>
	
	<label class="toggle">
		<input type="checkbox">
		<div class="track"><div class="handle"></div></div>
	</label>
	
	<ul class="list">

	<li class="item item-toggle">
		HTML5
		<label class="toggle toggle-assertive">
			<input type="checkbox">
			<div class="track">	<div class="handle"></div></div>
		</label>
	</li>
	<li class="item item-toggle">
		CSS
		<label class="toggle toggle-royal">
			<input type="checkbox">
			<div class="track">	<div class="handle"></div></div>
		</label>
	</li>
	<li class="item item-toggle">
		Javascript
		<label class="toggle toggle-energized">
			<input type="checkbox" checked="checked">
			<div class="track">	<div class="handle"></div></div>
		</label>
	</li>

  </ion-content>
</ion-view>
